{% extends "base.html" %} 

{% block title %} New Quiz {% endblock %} 

{% block content %} 

    <h1 style="align-items: center;">Welcome to the Quiz!</h1>

    {% if stage == 'genre_selection' %}
        <div class="container mt-3 quiz-container">
            <form method="POST" class="genre-selection-form">
                <h2> 1. Select Genres</h2>
                <div class="form-group3" style="color: black; margin-top: 2rem;">
                {% for genre in genre_list %}
                    <div class="form-check genre-checkbox">
                        <input class="form-check-input" type="checkbox" name="s{{ loop.index }}" value="{{ genre }}">
                        <label class="form-check-label" for="s{{ loop.index }}">
                        {{ genre }}
                        </label>
                    </div>
                {% endfor %}
                </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 2rem;">Submit Genres</button>
            </form>
        </div>

    {% elif stage == 'actor_display' %}
        <div class="container mt-3 quiz-container">
            <form method="POST" class="genre-selection-form">
                <h2>Actors by Selected Genres:</h2>
                <div class="actors-by-genre">
                {% for genre, actors in actor_list.items() %}
                    <h2>{{ genre }}</h2>
                    <div class="actor-list">
                    {% for actor in actors %}
                        <div class="form-check actor-checkbox">
                            <input class="form-check-input" type="checkbox" name="a{{ loop.index }}" value="{{ actor }}">
                            <label class="form-check-label" for=" a{{ loop.index }}">
                            {{ actor }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 2rem;">Submit Actors</button>
            </form>
        </div>

    {% elif stage == 'director_display' %}
        <div class="container mt-3 quiz-container">
            <form method="POST" class="director-selection-form">
                <h2>Directors by Selected Genres:</h2>
                <div class="directors-by-genre">
                {% for genre, directors in director_list.items() %}
                    <h2>{{ genre }}</h2>
                    <div class="director-list">
                    {% for director in directors %}
                        <div class="form-check director-checkbox">
                            <input class="form-check-input" type="checkbox" name="d{{ loop.index }}" value="{{ director }}">
                            <label class="form-check-label" for="d{{ loop.index }}">
                            {{ director }}
                            </label>
                        </div>
                    {% endfor %}
                    </div>
                {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 2rem;">Submit Directors</button>
            </form>
        </div>

    
    {% elif stage == 'language_display' %}
    <div class="container mt-3 quiz-container">
        <form method="POST" class="language-selection-form">
            <h2>Language:</h2>
            <div class="language">
            {% for language in language_list %}
                <div class="language-list">
                    <div class="form-check language-checkbox">
                        <input class="form-check-input" type="checkbox" name="l{{ loop.index }}" value="{{ language }}">
                        <label class="form-check-label" for="l{{ loop.index }}">
                        {{ language }}
                        </label>
                    </div>
                </div>
            {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 2rem;">Submit Languages</button>
        </form>
    </div>

    {% elif stage == 'movie_display' %}
    <form method="POST">
        <div class="movie-container" style="margin-top: 5rem;">
            {% for key in displayed.keys() %}
            <div class="form-group2" style="color: white;">
                <div style="width: 200px; height: 50px; font-size: 12;">
                    <p>{{ displayed[key]['title']}} ({{ displayed[key]['year'] }})</p>
                </div>
                <img src="{{ displayed[key]['url'] }}" alt="Movie Poster" style="height: 270px; width: 200px; border: 2px solid white;">
    
                <div class="checkboxes">
                    <input type="checkbox" id="w{{ key }}" name="w{{ key }}" value="{{ displayed[key]['movie_id'] }}">
                    <label for="w{{ key }}">Watched?</label>
                </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">Submit</button>
        </div>        
    </form>

    {% elif stage == 'movie_display2' %}
    <form method="POST">
        <div class="movie-container" style="margin-top: 5rem;">
            {% for key in displayed.keys() %}
            <div class="form-group2" style="color: white;">
                <div style="width: 200px; height: 50px; font-size: 12;">
                    <p>{{ displayed[key]['title']}} ({{ displayed[key]['year'] }})</p>
                </div>
                <img src="{{ displayed[key]['url'] }}" alt="Movie Poster" style="height: 270px; width: 200px; border: 2px solid white;">
    
                <div class="checkboxes">
                    <input type="checkbox" id="li{{ key }}" name="li{{ key }}" value="{{ displayed[key]['movie_id'] }}">
                    <label for="li{{ key }}">Liked?</label>
    
                    <input type="checkbox" id="dl{{ key }}" name="dl{{ key }}" value="{{ displayed[key]['movie_id'] }}">
                    <label for="dl{{ key }}">Disliked?</label>
                </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">Submit</button>
        </div>        
    </form>

    {% elif stage == 'movie_display3' %}
    <form method="POST">
        <div class="movie-container" style="margin-top: 5rem;">
            {% for key in displayed.keys() %}
            <div class="form-group2" style="color: white;">
                <div style="width: 200px; height: 50px; font-size: 12;">
                    <p>{{ displayed[key]['title']}} ({{ displayed[key]['year'] }})</p>
                </div>
                <img src="{{ displayed[key]['url'] }}" alt="Movie Poster" style="height: 270px; width: 200px; border: 2px solid white;">
            </div>
            {% endfor %}
        </div>
        <div class="quiz-actions">
            <a href="{{ url_for('views.home') }}" class="btn btn-primary">Return to Home</a>
        </div>        
    </form>

    {% endif %}

    <div class="quiz-actions">
        <a href="{{ url_for('views.reset_quiz') }}" class="btn btn-primary">Start Over</a>
    </div>

{% endblock %}
